Appirio, a Wipro Company is an information technology consulting company headquartered in Indianapolis, Indiana 
that offers technology and professional services to companies wishing to adopt public cloud applications

<h2 >Company History</h2>
<b>2016</b>
Jun. 17 - 6th Future of the Cloud (FOTC) volunteer service day - 811 Appirians participating in 63 events around the world
Jan. 29 - Annual virtual all-hands company meeting, hosted from Indianapolis with 30 remote sites
Jan. 1 - Separated company into two distinct business units - Appirio (cloud consulting) and Topcoder (crowdsourcing)
Jan. 1 - Finished 2015 with $218.2M in bookings and $195.8M in revenues

<b>2015</b>
Dec. 7 - Second Customer Advisory Board (CAB) held in Napa, CA
Oct. 26 - Largest deal to date - General Mills, Inc. (GMI) Workday HCM global rollout for $9,184,395
Jul. 2 - 5th Future of the Cloud volunteer service day - 848 Appirians participating in 65 events around the world
Jun. 15 - Appirio reaches 1,200 fulltime employees
May 26 - Expanded onto our 2nd floor in Indianapolis, now occupying the 10th and 11th floors
May 20 - Launched AppXpress, for self-service submissions of mobile app dev crowdsourcing projects
May 19 - Expanded onto our 2nd floor in Jaipur, now occupying the 2nd and 4th floors 
Apr. 15 - Closed Series E financing for a total of $35M from Fidelity Investments
Apr. 1 - Moved into our new London office at 23 Hanover Square
Feb. 17 - Appirio reaches 1,100 fulltime employees
Feb. 13 - Moved into our new Dublin office at 92-93 St. Stephen's Green'
Jan. 30 - Annual virtual all-hands company meeting, hosted from San Francisco with 28 remote sites
Jan. 1 - Finished 2014 with $208.2M in bookings and $178.5M in revenues

<b>2014</b>
Dec. 18 - Signed an implementation partnership agreement with Medallia, with a $2.5M revenue commitment for the first year
Dec. 4 - First Customer Advisory Board (CAB) held in Napa, CA
Nov. 16 - Topcoder Open held at Pier 48 in San Francisco, CA
Aug. 24 - Second Appirio Leadership Summit, providing training and development to future Appirio leaders
July 31 - Appirio reaches 1,000 fulltime employees
July 1 - Signed an implementation partnership agreement with ServiceMax, with a $1.5M annual revenue commitment
May 1 - Signed an implementation partnership agreement with CallidusCloud, with a $1M annual revenue commitment
Apr. 25 - Appirio reaches $500,000,000 in lifetime sales bookings
Feb. 26 - Appirio India opens new state-of-the-art facility in the Mahindra World City Special Economic Zone, Jaipur
Feb. 18 - Appirio reaches 900 fulltime employees
Jan. 31 - Annual virtual all-hands company meeting, hosted from Indianapolis
Jan. 1 - Finished 2013 with $159.6M in bookings and $140.0M in revenues

<b>2013</b>
Dec. 19 - Appirio reaches 800 fulltime employees
Dec. 19 - Appirio India Cloud Solutions Private is established in Jaipur, combining 109 employees transferred from Metacube to become Appirio employees, along with 22 local hires
Nov. 10 - First TopCoder Open as part of Appirio is held in Washington, DC
Oct. 14 - Appirio reaches 700 fulltime employees
Sept. 30 - Signed an implementation partnership agreement with Concur, with a $1.3M annual revenue commitment
Sept. 17 - Appirio's seventh acquisition - TopCoder, the world’s largest professional development and design community'
July 22 - Appirio reaches 600 fulltime employees
July 21 - Moved into our new Japan office in the METLIFE Aoyama Building, Minato-ku, Tokyo 
July 15 - First Appirio Leadership Summit, providing training and development to future Appirio leaders
Apr. 30 - Signed a solutions partner agreement with docuSign, whereby Appirio provides sales, and implementation services
Apr. 26 - 3rd Future of the Cloud volunteer service day - over 500 Appirians around the world serving over 100 nonprofits in 5 countries
Apr. 1 - Moved into our new London office at 7 – 8 Stratford Place
Feb. 19 - Appirio reaches 500 fulltime employees
Feb. 1 - Largest deal to date - Robert Half International front-office Force.com program for $6,111,223
Feb. 1 - First annual "virtual" company meeting hosted from San Francisco, with most of our 494 Appirians on GoToWebinar, Google Hangout, and Hangout On Air
Jan. 1 - Finished 2012 with $120.4M in bookings and $91.2M in revenues

<b>2012</b>
Dec. 31 - Officially named a Cornerstone OnDemand premier subcontractor, with a $7M annual revenue commitment from Cornerstone
Nov. 2 - Moved into our new, permanent Indianapolis office on the 11th floor of the Pan Am Tower, 201 Capital Ave.
Nov. 1 - Appirio's sixth acquisition - Knowledge Infusion, a human resources (HR) and talent management advisory and consulting services firm'
Sept. 13 - Largest deal to date - ManpowerGroup recruiter CRM implementation for $4,371,689
July 23 - Appirio reaches 400 fulltime employees
May 29 - Moved into our new HQ at 760 Market Street, San Francisco, CA 94102
Apr. 30 - Opened U.S. development center in Indianapolis, IN
Apr. 20 - 2nd Future of the Cloud volunteer service day - 288 Appirians around the world at 17 regional and 51 individual events
Apr. 18 - Appirio's fifth acquisition - Codegolf, an 8,000-member developer community website for programming challenges'
Mar. 15 - Closed Series D financing for a total of $60M from General Atlantic, Sequoia Capital, and GGV Capital
Jan. 15 - Annual Appirio Retreat at the Meritage in Napa, CA - nearly all 325 Appirians in one place
Jan. 1 - Finished 2011 with $80.6M in bookings and $66.0M in revenues

<b>2011</b>
Dec. 21 - Appirio's fourth acquisition - Saaspoint, a Europe-based cloud consulting services provider'
Nov. 28 - Appirio reaches 300 fulltime employees
Sept. 1 - Appirio named a 2012 Technology Pioneer by the World Economic Forum 
Aug. 26 - Closed Series C-1 financing for a total of $5.1 million from GGV Capital and Salesforce.com
July 1 - Closed FY11Q2 as the first-ever $20M+ bookings quarter, with $23.1M in booked deals
May 20 - First $4M deal - NetApp cloud management for $4,260,765
Apr. 8 - First Future of the Cloud volunteer service day - 167 Appirians around the U.S. at 11 regional and 27 individual events
Mar. 31 - Appirio's third acquisition - VMG, a specialist in structured, cloud-focused training and learning programs'
Mar. 31 - Appirio's second acquisition - Infowelders, a full-service salesforce.com implementation consultancy'
Mar. 14 - Appirio reaches 200 fulltime employees
Mar. 3 - Officially named an Apple consulting partner
Feb. 28 - Appirio's first acquisition - the Tre3 Group, a collaborative selling and social CRM consultancy'
Feb. 14 - Launch of CloudSpokes, Appirio's cloud developer community website '
Jan. 23 - Annual Appirio Retreat at the Meritage in Napa, CA - 183 of 186 Appirians in one place
Jan. 18 - Moved into our new HQ at 2207 Bridgepointe Parkway, San Mateo, CA 94404
Jan. 1 - Finished 2010 with $44.5M in bookings and $35.7M in revenues

<b>2010</b>
Dec. 31 - Sold PSE product line to FinancialForce.com
Oct. 29 - First CloudWorks sale - 100 seats to Motorola for $30,000
Oct. 1 - First $3M deal - NetApp for $3,341,660
Oct. 1 - First Workday deal - State of Nebraska for $39,600
Sept. 15 - Launch of Appirio CloudFactor (known then as "Appirio CloudWorks")
Sept. 29 - First Appirio Cloudsourcing Library for Force.com (ACLF) sale - Chicago Mercantile Exchange, $24,000 for a 12-month subscription
June 11 - Officially named a Workday partner
Apr. 28 - Appirio named one of the "Best Places to Work" in the Bay Area by the San Francisco Business Times
Apr. 1 - Closed FY10Q1 as the first-ever 8-figure bookings quarter, with $10.3M in booked deals
Jan. 25 - Launch of The Silver Lining, Appirio's Community Outreach Program, with first team event at The McDowell Sonoran Preserve in Scottsdale, AZ'
Jan. 24 - Kicked off annual Appirio Retreat at The Boulders in Carefree, AZ - 145 out of 146 Appirians in one place
Jan. 1 - Finished 2009 with $26.5M in bookings and $22.0M in revenues

<b>2009</b>
Nov. 25 - Biggest product sale (by $) to date - 1,800 seats of PSE sold to IMS Health for $488,400
Sept. 17 - Biggest product go-live ever - NAVCanada live on 5,260 seats of PSE
Aug. 16 - Release of our largest enterprise product ever, Professional Services Enterprise 1.0
Aug. 3 - Moved into new office space on the north side of the San Mateo office, 3rd floor
Aug. 1 - First $2M revenue month - $2.163M in July 2009
Apr. 10 - First product subscription renewal - Bell Helicopter renewed their annual 30GB Appirio Cloud Storage subscription
Apr. 1 - First $4M revenue quarter - $4,541,922 in FY09Q1
Mar. 30 - Appirio reaches 100 fulltime employees
Feb. 13 - Closed Series C financing for a total of $10 million from GGV Capital and Sequoia Capital
Feb. 13 - Biggest product deal signed to date - Salesforce.com purchased 1,000 seats of Appirio Services Management (aka "PSE") for 2 years for $450,000
Feb. 5 - First $1 million deal (and first $2M deal!) - DeVry for $2,126,066
Jan. 1 - First $3M revenue quarter - $3,130,981 in FY08Q4

<b>2008</b>
Dec. 26 - First 100% native SFDC product go-live - Savvion, with 58 seats of Appirio's Professional Service Essentials'
Nov. 2 - Second in-person all-hands Appirio meeting - Dreamforce 2008, with Appirio as a platinum sponsor - all 76 Appirians in one place
Oct. 31 - First 100% native SFDC product sale - 58 seats of Appirio's Professional Service Essentials to Savvion for $17,280' 
Oct. 1 - Appirio Japan established by Jason Park and Kent Horng, with a $1,167,000 bookings commitment from SFDC
Jul. 1 - First $2M revenue quarter - $2,291,064 in FY08Q2
Jun. 21 - Closed Series B financing for a total of $5.6 million from Sequoia Capital, select angel investors, and Stanford University
Apr. 15 - Launch of Appirio Cloud Sync with initial Calendar Sync functionality
Apr. 18 - First product sale for revenue!  Dry Force, Inc. purchased Appirio Cloud Storage, 1 year subscription, $1,200
Apr. 7 - Release of first commercial for-fee product - Appirio Cloud Storage for Salesforce.com
Apr. 2 - First half-million dollar deal - Author Solutions for $523,380
Apr. 1 - First $1 million revenue quarter - $1,376,039 in FY08Q1
Jan. 28 - Moved into new San Mateo office space - 9 cubes, 4 offices
Jan.14 - Closed Series A financing for a total of $1.1 million from Salesforce.com and a group of angel investors

<b>2007</b>
Dec. 11 - New biggest deal signed to date! - CRC Health for $363,200
Nov. 28 - Biggest single deal signed to date - Dolby Laboratories for $325,000
Oct. 15 - Our 2nd Fortune 500 win - Honeywell Aerospace
Sep. 16 - First in-person all-hands Appirio meeting - Dreamforce 2007 - 17 out of 18 Appirians in one place at one time!
Jun. 30 - Signed Salesforce.com Education Services partnership
Jun. 27 - First SOW signed for Google Enterprise - Pediatric Federation
May 30 - Officially named a Google Enterprise Professional (GEP) partner
May 29 - Our first Fortune 500 win - Qualcomm
May 29 - Google Gadgets go live on AppExchange (Sales Sleuth)
May 8 - Highlighted as innovative partner by Salesforce.com CEO Marc Benioff at Software 2007 conference (video)
Feb. 26 - Signed Salesforce.com master subcontracting agreement
Jan. 8 - First 6-figure deal signed - Borland for $250,000
Jan. 2 - First customer check deposited in the Appirio bank account - Senior Transitions

<b>2006</b>
Dec. 15 - First invoice sent - CRC Health
Nov. 30 - First AppExchange listing published - Sales Sleuth Yahoo! Widget
Nov. 26 - appirio.com accepted as a "beta tester" for Google Apps for Your Domain
Oct. 16 - Named a Salesforce.com consulting partner
Sep. 28 - First SOW signed - ServiceSource
Sep. 24 - First product released for testing - Caseload Yahoo! Widget
Aug. 24 - Appirio incorporated in the state of Delaware
